.eventbritelist-loading {
    text-align: center;
}

.eventbritelist {
    display: grid;
    grid-gap: 20px;
}

.eventbritelist .event {
}

.eventbritelist .event .title {
    font-weight: bold;
}

.eventbritelist .event {
    display: grid;
    grid-template-columns: 200px auto;
    grid-gap: 0px 10px;
}

.eventbritelist .event .time, .eventbritelist .event .location {
    font-size: 80%;
}

.eventbritelist .event .image {
    grid-row: 1/5;
    padding-top: 3px;
}

.eventbritelist .event .image img {
    object-fit: cover;
    height: 120px;
}

.eventbritelist .event:hover .image img {
    transform: scale(1.02);
}

.eventbritelist .event .link {
    text-align: right;
}

.eventbritelist p {
    padding-bottom: 0;
}

.eventbritelist div {
    font-size: 100%;
    line-height: 1.2em;
    padding: 0.3em 0;
}
    
.eventbritelist .button {
    background-color: green;
    border: none;
    color: white;
    padding: .3em .5em;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 80%;
    margin: .3em 0;
}

.eventbritelist .button.available {
    background-color: green;
}

.eventbritelist .button.limited {
    background-color: orange;
}

.eventbritelist .button.soldout {
    background-color: darkred;
}

.eventbritelist .button:hover {
    text-decoration: none;
    opacity: 0.7;
    padding: .3em .7em;
}

@media screen and (max-width: 39.9375em) {
    .eventbritelist .event {
        grid-template-columns: auto;
    }
    .eventbritelist .event .image img {
        height: 160px;
    }
}